@model QuizMoon.Client.Model.RegisterModel

<div class="main-content">
    <div class="logo-container">
        <img id="astro-logo" src="~/img/Astro.png" alt="Logo" />
        <img id="astro-text" src="~/img/Quizmoon.png" alt="Logo" />
    </div>

    <div class="border-content">

        <div class="border-header">
            <div class="header-buttons-left"></div>
            <div class="title">Register your new account:</div>
            <div class="header-buttons-right">
                <button class="btn-secondary" onclick="location.href='@Url.Action("GoBackToMainPage", "Account")'"><img src="/img/x.png" alt="Back" style="height: 14px; filter: invert(100%);" /></button>
            </div>
        </div>


        <div class="message-row">
            @Html.ValidationMessage("message_key", new { @class = "text-danger" })
        </div>

        <div class="border-body">
            <form asp-route="Register" method="post" id="main-form">
                <div class="input-row">
                    <input class="form-control" placeholder="Email" asp-for="Email" autofocus>
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>

                <div class="input-row">
                    <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>

                <div class="input-row">
                    <input type="password" class="form-control" placeholder="Password confirmation" asp-for="PasswordConfirmation" autocomplete="off">
                    @Html.ValidationMessageFor(model => model.PasswordConfirmation, "", new { @class = "text-danger" })
                </div>
            </form>
            <div class="main-buttons">
                <button class="btn-primary" type="submit" form="main-form">Register</button>
            </div>
        </div>
    </div>
</div>
